*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container{
  max-width: 1440px;
  padding: 0 90px;
  margin-inline: auto;
}

.button{
  padding: 8px 20px;
  cursor: pointer;
  border: none;
  
  background: #6A71F1;
  border-radius: 10px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  
  /* White */
  color: #FFFFFF;
  
  }

  .flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo span{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    
    }
    
    .logo-agile{
        color: #6A71F1;
    }
    
    .logo{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .logo{
        color: black;
    }